

body{
    /* margin: 20px;
    padding: 20px; */
          
}

.Display{
    display: flex;
    background-color: black;
    width: 100%;
    overflow: hidden;

}

.card-main{
    background-color: rgb(37, 40, 45);
    width:100%;
    margin-top: 20px;
    color: white;
    border-radius: 20px;  
    padding: 30px;
    /* padding-left: 70px; */
    box-sizing: border-box;
}

.group-main{
    width: 100%;
}


@media (max-width:768px){
    .Display{
       flex-direction: column-reverse;
    }
}


@media (min-width:1024px) and (max-width:1366px){
    .Display{
        height: 100vh;
    }
}






